{% extends "back/base.html" %}

{% block content %}

<div class="col">
    <main role="main">

        <div class="row">
            <div class="col">
                <h2>Заявки на получение золотого знака</h2>
                <table id="passpotrtsTable" class="display">
                    <thead>
                    <tr>
                        <th>Организация</th>
                        <th>Дата</th>
                        <th>Документы</th>
                        <th>Статус</th>
                        <th>Подтвердить</th>
                        <th>Отклонить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in '0123456789ропонген' %}
                    <tr>
                        <td>ОГУ</td>
                        <td>21.01.2021</td>
                        <td><a class="btn btn-primary" href="#">Скачать</a></td>
                        <td>На модерации</td>
                        <td><a class="btn btn-primary" href="#">Подтвердить</a></td>
                        <td><a class="btn btn-primary" href="#">Отклонить</a></td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>
                <script>
                            $(document).ready(function () {
                                $('#passpotrtsTable').DataTable();
                            });


                </script>
            </div>
        </div>

    </main>
</div>


{% endblock %}