{% extends "back/base.html" %}

{% block content %}


<h1>Страница управления формами сбора информации</h1>

<div class="row justify-content-center">
    <div class="col-6">
        <h2>Создать форму</h2>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="title" class="form-label">Название</label>
                {{ form.name(class="form-control",type="text", id="title") }}
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary">Создать
                </button>
            </div>
            {% if message %}
            <h4>{{ message }}</h4>
            {% endif %}
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Формы сбора информации (Опросы)</h2>
        <table id="formsTable" class="display">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Мониторинг</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                {% for i in quizes %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td><a class="btn btn-primary" href="/admin_check_form/{{ i.id }}">Мониторинг</a></td>
                    <td><a class="btn btn-primary" href="/admin_edit_form/{{ i.id }}">Редактировать</a></td>
                    <td><a class="btn btn-primary" href="/admin_delete_form/{{ i.id }}">Удалить</a></td>
                </tr>

                {% endfor %}


            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $('#formsTable').DataTable();
            });


        </script>
    </div>
</div>



{% endblock %}