<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon"  href="/static/back/img/monitor_back.png" type="image/x-icon">
    <title>{{ title }}</title>
    <link rel="stylesheet"  href="/static/back/css/main.css">
    <link rel="stylesheet"  href="/static/back/css/normalize.min.css">
    <link rel='stylesheet' href='/static/css/font-awesome.min.css'>

    <link rel="stylesheet"  href="/static/back/css/chartist.min.css">
    <link rel="stylesheet"  href="/static/back/css/nouislider.min.css">
    <link rel="stylesheet"  href="/static/back/css/bootstrap.min.css">
    <link rel="stylesheet"  href="/static/back/css/datatables.min.css">
    <link rel="stylesheet" href="/static/back/css/select2.min.css">
    <script src="/static/back/js/jquery-3.6.0.min.js"></script>
    <script src="/static/back/js/prefixfree.min.js"></script>
    <script src="/static/back/js/chartist.min.js"></script>
    <script src="/static/back/js/nouislider.min.js"></script>
    <script src="/static/back/js/select2.min.js"></script>


</head>

<body>
    <header role="banner">
        <h1><img src="/static/back/img/monitor_back.png" alt="">
            {% if user and user.role_id == 1 %}
            Личный кабинет пользователя
            {% elif user and user.role_id == 2  %}
            Личный кабинет администратора
            {% elif not user %}
            <a href="/">Перейти на главную страницу</a>
            {% endif %}
        </h1>
        <ul class="utilities">
            {% if user %}
            <li class="users">{{ user.login }}</li>
            <li class="logout warn"><a  href="/logout">logout</a></li>
            {% endif %}
        </ul>
    </header>

    <div class="container">
        <div class="col">
            <nav role="navigation">
                <ul class="main">
                    {% if user and user.role_id == 1 %}
                    <li class="dashboard"><a href="/account">Организации</a></li>
                    <li class="question"><a href="/information_collection">Сбор информации</a></li>
                    <li class="achievement"><a href="/golden_badge">Золотой знак</a></li>
                    {% elif user and user.role_id == 2  %}
                    <li class="dashboard"><a href="/admin">Паспорта</a></li>
                    <li class="question"><a href="/admin_forms">Сбор информации</a></li>
                    <li class="achievement"><a href="/admin_bids">Золотые знаки</a></li>
                    {% endif %}
                </ul>
            </nav>


        </div>

        <div class="col">
            <main role="main">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>


    <footer role="contentinfo">© Команда Just Fun (Университетский колледж ОГУ); E-mail: begun.aleksey@mail.ru
    </footer>

    <script src="/static/back/js/bootstrap.min.js"></script>
    <script src="/static/back/js/datatables.min.js"></script>
    <script src="/static/back/js/main.js"></script>
    <script src="/static/back/js/jquery.maskedinput.min.js"></script>


</body>

</html>