{% extends "back/base.html" %}

{% block content %}


<div class="col">
    <main role="main">

        <div class="row">
            <h1 class="text-center">Страница сбора информации "Управление профрисками"</h1>
            <div class="col progressbar_form">
                <div id="svg_wrap"></div>

                <form action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <section>
                        <div class="mb-3">
                            {{ form.pasport_id.label() }}
                            {{ form.pasport_id() }}
                        </div>
                    </section>

                    <section>
                        <div class="mb-3">
                            <h2>Проведена оценка профессиональных рисков в области охраны труда</h2>
                            {{ form.profrisks_check.label() }}
                            {{ form.profrisks_check() }}
                        </div>
                    </section>

                    <section>
                        {{ form.last_check_date.label() }}
                        {{ form.last_check_date() }}
                    </section>


                    <div id="agree" class="text-center m-2">
                        <label for="agree_checkbox">Даю свое согласие на участие, ознакомление с порядком
                            проведения мониторинга по охране труда, которая гарантирует достоверность
                            представленных сведений.</label>
                        <input id="agree_checkbox" type="checkbox" name="agree">
                    </div>


                    <div class="text-center">
                        <span class="btn btn-primary button" id="prev">&larr; Назад</span>
                        <span class="btn btn-primary button" id="next">Далее &rarr;</span>
                        {{ form.submit() }}
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </main>
</div>

{% endblock %}