{% extends "back/base.html" %}

{% block content %}

</div>
<div class="col">
    <main role="main">
        <h1 class="text-center">Заявки на получение золотого знака</h1>

        <div class="row justify-content-center">
            <div class="col-6">
                <h2>Отправить заявку</h2>

                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ form.organization_id.label() }}
                        {{ form.organization_id() }}
                    </div>

                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">Сохранить
                        </button>
                    </div>

                </form>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Заявки на золотые знаки</h2>
                <table id="bindsTable" class="display">
                    <thead>
                    <tr>
                        <th>ID организации</th>
                        <th>Организация</th>
                        <th>Дата заявки</th>
                        <th>Статус заявки</th>
                        <th>Действия</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for pass_obj in passports %}
                    <tr>
                        <td>{{ pass_obj.id }}</td>
                        <td>{{ pass_obj.name_of_the_legal_entity }}</td>
                        <td>{{ pass_obj.golden_badge_application_date }}</td>
                        {% if pass_obj.golden_badge_verdict %}
                        <td>Принята</td>
                        {% else %}
                        <td>Не принята</td>
                        {% endif %}
                        <td><a class="btn btn-primary" href="/delete_application/{{ pass_obj.id }}">Удалить заявку</a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <script>
                            $(document).ready(function () {
                                $('#bindsTable').DataTable();
                            });





                </script>
            </div>
        </div>


    </main>
</div>

{% endblock %}