{% extends "back/base.html" %}

{% block content %}


<div class="col">
    <main role="main">

        <div class="row">
            <h1>Паспорт организации</h1>

            <div class="col">
                <ul>
                    <li><strong>Наименование ОПФ юрлица</strong> - данные из БД</li>
                    <li><strong>Полное наименование организации (для ИП -
                        ФИО)</strong> - данные из БД
                    </li>
                    <li><strong>Краткое наименование организации</strong> - данные из
                        БД
                    </li>
                    <li><strong>Адрес юридический</strong> - данные из БД</li>
                    <li><strong>Адрес фактический</strong> - данные из БД</li>
                    <li><strong>ФИО и должность руководителя</strong> - данные из БД
                    </li>
                    <li><strong>ИНН</strong> - данные из БД</li>
                    <li><strong>ОКТМО</strong> - данные из БД</li>
                    <li><strong>Основной вид деятельности по ОКВЭД</strong> - данные
                        из БД
                    </li>
                    <li><strong>Численность работников</strong> - данные из БД</li>
                    <li><strong>Численность мужчин</strong> - данные из БД</li>
                    <li><strong>Численность женщин</strong> - данные из БД</li>
                    <li><strong>Телефон</strong> - данные из БД</li>
                    <li><strong>E-mail официальный</strong> - данные из БД</li>
                    <li><strong>ФИО и должность специалиста по охране труда</strong> -
                        данные из БД
                    </li>
                    <li><strong>Телефон специалиста по охране труда</strong> - данные
                        из БД
                    </li>
                    <li><strong>E-mail специалиста по охране труда</strong> - данные
                        из БД
                    </li>
                    <li><strong>«Золотой знак» </strong> - данные из БД</li>
                    <li><strong>Уникальный номер организации</strong> - данные из БД
                    </li>
                </ul>
            </div>
        </div>

    </main>
</div>

{% endblock %}