{% extends "back/base.html" %}

{% block content %}


                <div class="row">
                    <h2>Заполненные формы сбора информации (опросы)</h2>
                    
                    <div class="col m-5">
                        <ul>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                           <li><strong>Название поля</strong> - ответ или ссылка на файл ( <a href="#">Скачать файл</a>)</li>
                        </ul>
                    </div>
                </div>
                

{% endblock %}