{% extends "back/base.html" %}

{% block content %}

<div class="row">
    <h1 class="text-center">Редактирование паспорта организации</h1>
    <div class="col progressbar_form">
        <div id="svg_wrap"></div>

        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <section>
                <h2>Основные</h2>

                <div class="mb-3">
                    {{ form.opf.label(class="form-label") }}
                    {{ form.opf(class="form-control", id="legal_entity") }}
                    {% for error in form.opf.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.full_name.label(class="form-label") }}
                    {{ form.full_name(class="form-control", id="full-name") }}
                    {% for error in form.full_name.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.short_name.label(class="form-label") }}
                    {{ form.short_name(class="form-control", id="short-name") }}
                    {% for error in form.short_name.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.information_date.label(class="form-label") }}
                    {{ form.information_date(class="form-control", id="date") }}
                    {% for error in form.information_date.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

            </section>

            <section>
                <h2>Руководитель организации</h2>
                <div class="mb-3">
                    {{ form.boss_fio.label(class="form-label") }}
                    {{ form.boss_fio(class="form-control", id="leader") }}
                    {% for error in form.boss_fio.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.boss_place.label(class="form-label") }}
                    {{ form.boss_place(class="form-control",  id="position") }}
                    {% for error in form.boss_place.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </section>

            <section>
                <h2>Контакты</h2>

                <div class="mb-3">
                    {{ form.company_phone.label(class="form-label") }}
                    {{ form.company_phone(class="form-control", id="phone",
                    value="+7") }}
                    {% for error in form.company_phone.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.company_email.label(class="form-label") }}
                    {{ form.company_email(class="form-control", id="email") }}
                    {% for error in form.company_email.errors %}
                    {{ error }}
                    {% endfor %}
                </div>


                {{ form.location.label(class="form-label") }}
                {{ form.location(class="form-select") }}
                {% for error in form.location.errors %}
                {{ error }}
                {% endfor %}
                <script>
                    $('#locality').select2();


                </script>
            </section>

            <section>
                <h2>Адреса</h2>

                <div class="mb-3">
                    {{ form.address_fact.label(class="form-label") }}
                    {{ form.address_fact(class="form-control", id="actual_address")}}
                    {% for error in form.address_fact.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.address_yur.label(class="form-label") }}
                    {{ form.address_yur(class="form-control", id="legal_address") }}
                    {% for error in form.address_yur.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

            </section>

            <section>
                <h2>Общие сведения</h2>

                <div class="mb-3">
                    {{ form.inn.label(class="form-label") }}
                    {{ form.inn(class="form-control", id="IIN") }}
                    {% for error in form.inn.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.oktmo.label(class="form-label") }}
                    {{ form.oktmo() }}
                    {% for error in form.oktmo.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.main_activity_okved.label(class="form-label") }}
                    {{ form.main_activity_okved(class="form-control", id="IIN") }}
                    {% for error in form.main_activity_okved.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </section>

            <section>
                <h2>Среднесписочная численность работников на дату проведения мониторинга</h2>
                <div class="mb-3">
                    {{ form.workers_male_count.label(class="form-label") }}
                    {{ form.workers_male_count(class="form-control", id="Count_man_workers") }}
                    {% for error in form.workers_male_count.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.workers_female_count.label(class="form-label") }}
                    {{ form.workers_female_count(class="form-control", id="Count_women_workers") }}
                    {% for error in form.workers_female_count.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </section>

            <section>
                <h2>Специалист по охране труда или ответственный за охрану труда</h2>

                <div class="mb-3">
                    {{ form.protector_fio.label(class="form-label") }}
                    {{ form.protector_fio(class="form-control", id="protection_specialist") }}
                    {% for error in form.protector_fio.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.protector_phone.label(class="form-label") }}
                    {{ form.protector_phone(class="form-control", id="protection_specialist_phone", value="+7") }}
                    {% for error in form.protector_phone.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.protector_email.label(class="form-label") }}
                    {{ form.protector_email(class="form-control", id="protection_specialist_mail") }}
                    {% for error in form.protector_email.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

            </section>

            <div id="agree" class="text-center m-2">
                <label for="agree_checkbox">Даю свое согласие на участие, ознакомление с порядком
                    проведения мониторинга по охране труда, которая гарантирует достоверность
                    представленных сведений.</label>
                <input id="agree_checkbox" type="checkbox" name="agree">
            </div>


            <div class="text-center">
                <span class="btn btn-primary button" id="prev">&larr; Назад</span>
                <span class="btn btn-primary button" id="next">Далее &rarr;</span>
                {{ form.submit }}
            </div>
        </form>
    </div>
</div>


{% endblock %}
